<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 	<h1>Create a Basketball Team!</h1>

 	<form action="/team" method=POST>
 		<label>Team Name<input type="text" id='name' name="Team Name"></label><br>
 		<label>Coach<input type ="text" id='coach' name="Coach"></label><br>
 		<label>Point Guard<input type ="text" id='pg' name="Point Guard"></label><br>
 		<label>Shooting Guard<input type ="text" id='sg' name="Shooting Guard"></label><br>
 		<label>Power Forward<input type ="text" id='pf' name="Power Forward"></label><br>
 		<label>Small Forward<input type ="text" id='sf' name="Small Forward"></label><br>
 		<label>Center<input type ="text" id='c' name="Center"></label><br>
 		<input type="submit" id="Submit" name="Submit">
 	</form>
 </body>
</html>


