<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team!</h1>
  <form method="post" action="/team">
    <label for="teamName">Team Name:</label>
    <input type="text" name="name"/>
    <label for="teamName">Coach:</label>
    <input type="text" name="coach"/>
    <label for="teamName">Point Guard:</label>
    <input type="text" name="pg"/>
    <label for="teamName">Shooting Guard:</label>
    <input type="text" name="sg"/>
    <label for="teamName">Power Forward:</label>
    <input type="text" name="pf"/>
    <label for="teamName">Small Forward:</label>
    <input type="text" name="sf"/>
    <label for="teamName">Center:</label>
    <input type="text" name="c"/>
    <button type="submit" id="Submit">Submit</button>
  </form>
 </body>
</html>
